.app {
  display: grid;
  grid-template-rows: var(--header-height) 1fr var(--statusbar-height);
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

.body {
  display: flex;
  overflow: hidden;
  position: relative;
}

.content {
  flex: 1;
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .content {
    overflow-y: auto;
  }
}
